<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ar.com.eurekaconsulting.elementControl"
    android:versionCode="40"
    android:versionName="4.00" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:allowBackup="true"
        tools:replace="android:icon"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        <activity
            android:name="ar.com.eurekaconsulting.elementControl.GetValuesActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ar.com.eurekaconsulting.elementControl.CountersActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ar.com.eurekaconsulting.elementControl.SelectNewActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_select_new"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ar.com.eurekaconsulting.elementControl.util.LogCollector"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ar.com.eurekaconsulting.elementControl.HomeActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ar.com.eurekaconsulting.elementControl.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@android:style/Theme.Black"  >
        </activity>
        <activity android:name="net.bgreco.DirectoryPicker" 
            android:theme="@android:style/Theme.Black"/>
    </application>

</manifest>
